body {
    margin: 0;
    font-family: 'Helvetica';
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    border-bottom: 1px  solid #444;
    height: 8vh;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    width: 14vh;
    height: 7.5vh;
    float: left;
}

.logo img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 3vh;
    position: relative;
}

nav a {
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1vw;
}

nav a:hover {
    color: #EDA441;
}

nav a::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #EDA441;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#hamburger-icon a {
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
}

#hamburger-icon {
    padding-top: 15px;
    float: right;
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: #444;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.open .mobile-menu li {
    padding-top: 50px;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    height: calc(100vh - 70px);
    width: 100%;

}

.mobile-menu li {
    margin-bottom: 10px;
}

@media (max-width: 877px) {
    header nav {
        display: none;
    }

    #hamburger-icon {
        display: block;
    }
}